:root {
    --headingTextColor: hsl(195, 10%, 23%);
    --bodyTextColor: hsl(195, 7%, 56%);
    --borderColor: 	hsl(195, 14%, 89%);
    --socialIconColor: hsl(195, 9%, 31%);
  
    --mainAccentColor: hsl(195, 73%, 47%);
    --mainAccentColor: hsl(195, 73%, 30%);
    --mainBGColor: hsl(0, 0%, 100%);
  
    --tagBaseColor: hsl(0, 0%, 93%);
    --tagAltColor: hsl(0, 0%, 60%);
    --tagBGColor: hsl(0, 0%, 100%);
    --tagHoverColor: hsl(15, 83%, 47%);
}
